.category-page {
    padding-top: 10rem;
    background-color: rgba(30, 29, 29, 0.93);
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
    min-height: 100vh; 
    
  }

.category-title {
    color: orange !important;
}  
