.container-cartPage {
   
    min-height: 100vh;
}

.decrement {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 8px;
}

.increment {
    width: 40px;
    height: 40px;
    background-color: black;
    border-radius: 8px;
    border: none;
}

.remove-button {
    background: black;
    width: 40px;
    height: 42px;
    border-radius: 8px;
    margin-left: 50px;
    border: none;
}

.card-element {
  border: 1px solid, orange;
  color: yellow;
  background-color: rgb(192, 190, 190);
}

.form-mobile {
    width: 50%;
}

@media (max-width: 576px) {
    .form-mobile {
        width: 100%;
    }
}