.div-description {
    border-top: 2px solid orange !important;
    border-bottom: 2px solid orange !important;
    margin-top: 150px;
    padding: 40px;
  }
  
  @media (max-width: 576px) {
    .div-description {
      margin-top: 50px; 
      padding: 20px; 
    }
  
    .div-description p {
      font-size: 0.9rem; 
      line-height: 1.5; 
      margin: 0; 
    }
  
    .category-title {
      font-size: 1.5rem; 
      margin-bottom: 20px;
    }
  }
  