.min-vh-100 {
    padding-top: 2rem;
    background-image: url("https://res.cloudinary.com/dhoq8vx2k/image/upload/v1732905700/ROBOTLIFE/Logo-Robot-Life.webp");
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center; 
    background-attachment: fixed;
     
}

.div-1 {
    border: 2px solid, black;
    text-align: center;
    max-width: 400px;
    color: orange;
    background-color: rgba(0, 0, 0, 0.7) !important; 
}

@media (max-width: 576px) {
    .div-1 {
        margin-bottom: 1rem;
    }
}

@media (orientation: landscape) and (max-width: 990px) {
    .div-1 {
        margin: 1rem auto 2rem auto; 
        display: block;
    }
}
