.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7) !important; 
    display: flex;
    
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal-content {
    background-color: rgb(24, 22, 22);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 400px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;

  }
  
  .modal-content.success {
   
    color: orange
  }
  
  .modal-content.error {
    
    color: red;
  }
  

  
 
  