.imgLogo {
    height: 80px;
    width: 80px;
    border-radius: 40px;
}

.logos {
    text-decoration-line: none;
}

li a {
    color: orange;
}



.logos a {
    color: white;
}

nav ul .text-decoration-none {
    color: orange;
}